@font-face {
  font-family: 'Nekst';
  src: url('../fonts/Nekst/Nekst-Black.eot');
  src: local('Nekst'), local('Nekst-Black'),
      url('../fonts/Nekst/Nekst-Black.woff2') format('woff2'),
      url('../fonts/Nekst/Nekst-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('../fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('../fonts/Gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

