@import "mixins/media.scss";
@import "./variables.scss";
@import "./fonts.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
  }
}

body {
  min-width: 320px;
  width: 100vw;
  font-family: "Gilroy", sans-serif;
  background-color: #ffffff;
  color: $text-color;
  background-color: $bg-color;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}