$text-color: #333E48;
$bg-color: #FFFFFF;

$orange-color: #FF9514;
$black-color: #111111;
$grey-color: #575757;
$black-grey-color: #333333;
$disable-color: rgba(255, 149, 20, 0.4);

$input-bg-color: #F3F3F4;
$input-active-bg-color: #E1E1E1;

$disable-opacity: 0.4;

$button-hover-color: #E0E0E0;

$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthDesktop: 1024px;
$mediaWidthLarge: 1440px;