@import "../mixins/media.scss";
@import "./leasing-form.scss";
@import "./loader.scss";
@import "./button-states.scss";

.main {
  display: flex;
  justify-content: center;
  height: 100vh;
  
  @include media-desktop {
    align-items: center;
  }
}

.disabled {
  opacity: 0.4;
}